<% if @cart_items.blank? %>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-md-offset-1">
        <h1>Chart have no Item!!</h1>
      </div>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="row">
      <%= flash[:message] %>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Product</th>
              <th>ProductName</th>
              <th>Artist</th>
              <th>Quantity</th>
              <th>Action</th>
              <th class="text-center">Price</th>
              <th class="text-center">Total</th>
            </tr>
          </thead>
          <tbody>
            <% @cart_items.each do |cart_item| %>
            <tr>
                <td>
                  <div class="media">
                      <%= attachment_image_tag cart_item.product, :image, :fill, 100, 100, format: 'jpeg'%>
                  </div>
                </td>
                <td class="align-middle">
                  <%= cart_item.product.name %>
                </td>
                <td class="align-middle">
                  <%= cart_item.product.artist.name %>
                </td>
                <td class="align-middle">
                  <%= form_with url: users_cart_item_path(cart_item.id), local: true, method: :patch, class:"form-inline" do |f|%>
    								<%= f.number_field :quantity, min:1, max: cart_item.product.stock, value: cart_item.quantity %>
    								<div data-turbolinks="false">
    								  <%= f.submit "update" %>
    								</div>
                  <% end %>
                </td>
                <td class="align-middle">
                  <%= link_to 'Delete',users_cart_item_path(cart_item.id) , method: :delete, class:"btn btn-danger" %>
                </td>
                <td class="text-center align-middle">
                  <strong>
                    ￥<%= cart_item.product.price %>
                  </strong>
                </td>
                <td class="text-center align-middle">
                  <strong>
                    ￥<%= cart_item.product.price.to_i  * cart_item.quantity.to_i %>
                  </strong>
                </td>
            </tr>
            <% end %>
            <tr>
                <td>   </td>
                <td>   </td>
                <td>   </td>
                <td>   </td>
                <td>   </td>
                <td class="text-center"><h3>Total</h3></td>
                <td class="text-center"><h3><strong>￥<%= @total_price %></strong></h3></td>
            </tr>
            <tr>
                <td>   </td>
                <td>   </td>
                <td>   </td>
                <td>   </td>
                <td>   </td>
                <td>
                  <%= link_to 'Continue Shopping', users_products_path, class:"btn btn-primary" %>
                </td>
                <td>
                  <div data-turbolinks="false">
                    <%= link_to 'Checkout', new_users_order_path, class:"btn btn-success" %>
                  </div>
                </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
<% end %>
