
<main role="main">

  <div class="container">
    <h1>購入履歴</h1>
    <div class="row" >
      <table class="table">
      	<thead>
      		<tr>
      			<th>画像</th>
      			<th>商品名</th>
      			<th>価格</th>
      			<th>数量</th>
            <th>小計</th>
      		</tr>
      	</thead>
      	<tbody>
          <% @order.order_products.each do |order_product| %>
        		<tr>
        			<th><%= attachment_image_tag order_product.product, :image, :fill, 100, 100, format: 'jpeg'%></th>
        			<td><%= order_product.product.name %></td>
        			<td><%= order_product.price %></td>
        			<td><%= order_product.quantity %></td>
              <td><%= order_product.product.price.to_i  * order_product.quantity.to_i %></td>
        		</tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <br>
      <table class="table">
        <thead>
      		<tr>
      			<th>〒</th>
      			<th>送り先</th>
      			<th>購入者</th>
      			<th>商品合計</th>
      		</tr>
      	</thead>
      	<tbody>
          <tr>
            <td><%= @order.postcode %></td>
            <td><%= @order.address  %></td>
            <td><%= @order.shipname_first %>      <%= @order.shipname_last %> 様</td>
            <td>合計金額　¥ <%= @order.total_price %> </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
