<h1>ログイン情報編集</h1>
<!-- form_forの先を描いてあげる必要あり -->
<%= form_for(@user) do |f| %>
<div class="container">
	<div class="panel panel-default">
		<div class="panel-body">
			<h4>登録メールアドレス</h4>
			 <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
			<h4>パスワード</h4>
			 <%= f.password_field :password %>
			<h4>パスワード再確認</h4>
			 <%= f.password_field :password_confirmation %>

			<br><%= f.submit '登録情報を編集する', class: "btn btn-primary" %></br>
			<% end %>
		</div>
	</div>
</div>

<%= link_to "編集を取り消す" , users_mypage_path, class: "btn btn-warning" %>
