<section class="mypage">
	<div class="mypage-box clearfix">
	  <h1 class="title">マイページ</h1>
		  <div>
		  	 <h2 class="profile">会員登録名</h2>
		  	 <h3><%= @user.first_name %>&nbsp;<%= @user.last_name %></h3>
		  </div>
	  <div class="announce">
	  	<h4>受け取り待ちのもの</h4>

	  </div>

	  <div class="text-center">
		 <%= link_to "購入履歴一覧", users_order_histories_path(current_user.id), class: "btn btn-primary" %>
		 <%= link_to "会員情報編集", users_mypage_path(current_user.id), class: "btn btn-warning" %>
		 <%= link_to "宛先一覧", users_addresses_path(current_user.id), class: "btn btn-danger" %>
		 <%= link_to "退会する", users_delete_user_path(current_user.id), class: "btn btn-success" %>
	   </div>
	</div>
</section>
