<section class="mypage">
	<div class="mypage-box clearfix">
	  <h1 class="title">マイページ</h1>
	  <div>
	  	 <h2 class="profile">会員登録名</h2>
	  	 <h3><%= @user.first_name %>&nbsp;<%= @user.last_name %></h3>
	  </div>
	  <div class="announce">
	  	<h4>受け取り待ちのもの</h4>

	  </div>


		<!-- 購入履歴一覧 -->
		 <%= link_to "会員情報編集", users_mypage_path(current_user.id), class: "btn btn-warning" %>
		 <%= link_to "宛先一覧", users_addresses_path, class: "btn btn-danger" %>
		<!-- 退会する -->
		<%= link_to "退会する", delete_user_show_path, class: "btn btn-success" %>
	</div>
</section>
