<div style="padding:100px;">
<section class="mypage">
	<div class="mypage-box clearfix">
	  <h1 class="title">マイページ</h1>
		  <div>
		  	 <h1 class="profile">会員登録名</h1>
		  	 <h3><%= @user.first_name %>&nbsp;<%= @user.last_name %></h3>
		  </div>
	  <div class="announce">
	  	<h4>受け取り待ちのもの</h4>
			<table class="table">
		    <thead class="thead-dark">
		      <tr>
		        <th scope="col">No.</th>
		        <th scope="col">日付</th>
		        <th scope="col">注文番号</th>
		        <th scope="col">E-mail</th>
		        <th scope="col">総額</th>
		        <th>   </th>
		      </tr>
		    </thead>
		    <tbody>
		      <% @orders.each_with_index do |order, i| %>
		      <tr>
		        <td><%= i + 1 %></td>
		        <td><%= order.created_at.strftime("%Y年%m月%d日 %H時%M分") %></td>
		        <!-- insert link_to show_page -->
		        <td><%= order.order_number %></td>
		        <!-- insert link_to user_show -->
		        <td><%= order.user.email%></td>
		        <td><%= order.total_price %></td>
		      </tr>
		      <% end %>
		    </tbody>
		  </table>
			<p><%= paginate @orders, class: "paginate" %></p>
	  </div>
  <div style="padding-top:30px;">
	  <div class="text-light">
		 <%= link_to "購入履歴一覧", users_order_histories_path(current_user.id), class: "btn btn-primary" %>
		 <%= link_to "会員情報編集", users_mypage_path(current_user.id), class: "btn btn-warning" %>
		 <%= link_to "宛先一覧", users_addresses_path(current_user.id), class: "btn btn-danger" %>
		 <%= link_to "退会する", users_delete_user_path(current_user.id), class: "btn btn-success" %>
	   </div>
	</div>
</section>
</div>
