
<div class="container">
	<section class="text-center mb-4">
		<h2>商品一覧</h2>


			<div class="row wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
        <% @products.each do |product| %>
	    		<div class="col-lg-3 col-md-6 mb-4">
						<div class="view overlay">
							<%= attachment_image_tag product, :image, :fill, 180, 180, format: 'jpeg'%>
	            <a>
	              <div class="mask rgba-white-slight waves-effect waves-light"></div>
	            </a>
	          </div>

						<div class="card-body text-center">
	            <!--Category & Title-->
	            <a href="" class="grey-text">
	              <h5><%= product.name %></h5>
	            </a>
	            <h5>
	                <a href="" class="dark-grey-text"><%= product.artist.name %>
	                </a>
	            </h5>

	            <h4 class="font-weight-bold blue-text">
	              <strong>￥ <%= product.price %></strong>
	            </h4>


	          </div>
						<div class="d-flex justify-content-left">
						 <!-- Default input -->
							<%= form_with scope: :product, url: users_cart_items_path, local: true, method: :post do |f|%>
								<%= f.hidden_field :id, :value => product.id %>
								<%= f.number_field :quantity, min:1, max: product.stock, value: 1 %>
								<div data-turbolinks="false">
									<%= f.submit "Go Cart" %>
										<% if product.stock == 0 %>
											<h5 style="color: orange">Sold out</h5>
										<% end %>
									|  <%= link_to '詳細はこちら', users_product_path(product.id),class: 'btn btn-info' %>
								</div>
							<% end %>
						</div>
					</div>
	        <!--Card-->

      	<% end %>
	    </div>

  </section>
  <!--Section: Products v.3-->
</div>


<p><%= paginate @products, class: "paginate" %></p>
