<div class="container">
	<div class= "row">
		<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
		  <!-- スライドさせる画像の設定 -->
		  <div class="carousel-inner">
		    <div class=" carousel-item active">
					<%= image_tag("img_169445_3.jpg" , :size =>'1140x600') %>
		    </div><!-- /.carousel-item -->
		    <div class="carousel-item">
					<%= image_tag("img_music_.jpg", :size =>'1140x600')%>

		    </div><!-- /.carousel-item -->

				<div class="carousel-item ">
					<%= image_tag("14480_01.jpg", :size =>'1140x600') %>
		    </div><!-- /.carousel-item -->
		  </div><!-- /.carousel-inner -->
		</div><!-- /.carousel -->
	</div>
</div>
<br>
<br>
<%= search_form_for @search, url: users_products_path do |f| %>
    <dt><%= f.text_field :name_cont ,placeholder: '検索するテキストを入力...' %></dt>
    <dd><%= f.submit ("検索") , class: 'search-btn'%></dd>
<% end %>
<div class="container">
	<section class="text-center mb-4">
		<div>
			<h2>商品一覧</h2>
			<br>
			<form class="form-inline my-2 my-lg-0 float-right">
	      <input type="search" class="form-control mr-sm-2" placeholder="検索..." aria-label="検索...">
	      <button type="submit" class="btn btn-outline-success my-2 my-sm-0">検索</button>
			</form>
			<hr>
		</div>
		<br>
		<hr>
		<div class="row wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
      <% @search_products.each do |product| %>
    		<div class="col-lg-3 col-md-6 mb-4">
					<br>
					<div class="card shadow-lg" style="padding:10px 0px; height: 450px;">
						<div class="view overlay">
							<%= attachment_image_tag product, :image, :fill, 180, 180, format: 'jpeg'%>
	            <a>
	              <div class="mask rgba-white-slight waves-effect waves-light"></div>
	            </a>
	          </div>
						<div class="card-body text-center">
	            <!--Category & Title-->
	            <a href="" class="grey-text"　>
	              <h5><%= product.name %></h5>
	            </a>
	            <h5>
	                <a href="" class="dark-grey-text"><%= product.artist.name %>
	                </a>
	            </h5>
	            <h4 class="font-weight-bold blue-text">
	              <strong>￥ <% price = product.price * 1.08 %><%= price.round(0) %>（税込）</strong>
	            </h4>
	          </div>
						<div class="d-flex justify-content-center">
						 <!-- Default input -->
						 <% if product.stock >= 1 %>
							<%= form_with scope: :product, url: users_cart_items_path, local: true, method: :post do |f|%>
									<%= f.hidden_field :id, :value => product.id %>
									<%= f.number_field :quantity, min:1, max: product.stock, value: 1  %>
									<div data-turbolinks="false">
										<br>
										<%= f.submit "Go Cart" , class: "btn btn-success" %>
										<%= link_to '商品詳細', users_product_path(product.id),class: 'btn btn-info ' %>
									</div>
							<% end %>
						<% else %>
						<div data-turbolinks="false">
							<h5 style="color: orange;">Sold out</h5>
							<%= link_to '商品詳細', users_product_path(product.id),class: 'btn btn-info ' %>
						</div>
						<% end %>
						</div>
						<br>
					</div>
        <!--Card-->
			</div>
    	<% end %>
    </div>
  </section>
  <!--Section: Products v.3-->
</div>
