  <!--Main layout-->

  <main class="mt-5 pt-4 " style="padding-bottom: 70px;">
    <div class="container dark-grey-text mt-5 shadow-lg" style="padding: 100px 30px;">

      <!--Grid row-->
      <div class="row wow fadeIn">
        <!--Grid column-->
        <div class="col-md-6 text-center" style="padding-top: 30px;">
          <%= attachment_image_tag @product, :image, :fill, 500, 500, format: 'jpeg'%>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 ">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3" style="padding-left: 10px;">
              <a href="">
                <span class="badge purple mr-1" ><%= @product.genre.name %></span>
              </a>
              <a href="">
                <span class="badge blue mr-1"><%= @product.label.name %></span>
              </a>
            </div>

            <div class="lead" style="padding-left: 10px;">
              <h1 class="mb-0"><%= @product.name %></h1>
              <br>
              <h1 class="mb-0"><%= @product.artist.name %></h1>
            </div>
            <br>

            <div class="container" style="padding-left: 40px;">
              <div class="row">
                <% @product.disks.each do |disk| %>
                    <p class="lead col-md-12 font-weight-bold"><%= disk.name %></p>
                  <% disk.songs.each do |song| %>
                    <table class=" col-md-6 " style="margin-left: 70px;">
                      <thead>
                        <tr>
                          <th class="col-md-2 "></th>
                          <th class="col-md-10 "></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                         <td class="col-md-2" style="padding-bottom: 10px;">
                          <%= song.name %>
                        </td>

                         <td class="col-md-10">
                          <%= song.time.strftime("%H:%M") %>
                         </td>
                        </tr>
                      </tbody>
                    </table>
                  <% end %>
                <% end %>
              </div>
            </div>
            <br>


            <div class="container" style="padding-left: 40px;" >
              <div class="row" >
                <table class=" col-md-6 " style="margin-left: 70px;">
                  <thead>
                    <tr>
                      <th class="col-md-2 "></th>
                      <th class="col-md-10 "></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="col-md-2 font-weight-bold">在庫数</td>
                      <td class="col-md-10 font-weight-bold"><%= @product.stock %>枚</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="container" style="padding-left: 40px;" >
              <div class="row" >
                <table class=" col-md-6 " style="margin-left: 70px;">
                  <thead>
                    <tr>
                      <th class="col-md-2 "></th>
                      <th class="col-md-10 "></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="col-md-2 font-weight-bold"> 価格(税込)</td>
                      <td class="col-md-10 font-weight-bold">￥<%= @product.price %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <br>
            <br>
            <div class="container" style="padding-left: 100px;" >
              <div class="row" style="padding-left: 250px;">
                <%= form_with scope: :product, url: users_cart_items_path, local: true, method: :post, class: 'form-inline' do |f|%>
  								<%= f.hidden_field :id, :value => @product.id %>
  								<%= f.number_field :quantity, min:1, max: @product.stock, value: 1 %>
  								<div data-turbolinks="false">
  								  <%= f.submit "Go Cart" , class: "btn btn-success btn-sm" %>
  								</div>
  							<% end %>
              </div>
            </div>
        <!--Content-->

        </div>
        <!--Grid column-->

      </div>
    </div>
  </main>
  <!--Main layout-->
