  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-4">
        <% if @address.errors.any? %>
          <div id=“error_explanation” class=“alert alert-danger”>
            <ul>
              <% @address.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <!--Card-->
        <div class="card shadow">
          <%= form_with scope: :order, url: users_orders_path, method: :get, local: true, class:"card-body" do |f|%>
            <!--Grid row-->
            <h1><%= f.radio_button(:select_address, 0)%> お届け先の新規入力</h1>
            <hr>
            <div class="row">
              <!--Grid column-->
              <div class="col-md-6 mb-2">
                <!--firstName-->
                <div class="md-form">
                  <%= f.label :first_name, "First name" %>
                  <%= f.text_field :first_name, autofocus: true, autocomplete: "名前", id:"firstName", class:"form-control" %>
                </div>
              </div>
              <!--Grid column-->
              <!--Grid column-->
              <div class="col-md-6 mb-2">
                <!--lastName-->
                <div class="md-form">
                  <%= f.label :last_name, "Last name" %>
                  <%= f.text_field :last_name, autofocus: true, autocomplete: "名前", id:"lastName", class:"form-control" %>
                </div>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
            <div class="row">
              <!--Grid column-->
              <div class="col-md-6 mb-2">
              <!--firstName-->
                <div class="md-form ">
                  <%= f.label :last_name_kana, "Last name Kana" %>
                  <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "名前", id:"firstName", class:"form-control"%>
                </div>
              </div>
              <div class="col-md-6 mb-2">
                <!--firstName-->
                <div class="md-form ">
                  <%= f.label :last_name_kana, "Last name Kana" %>
                  <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "名前", id:"lastName", class:"form-control"%>
                </div>
              </div>
              <!--Grid column-->
              <!--Grid column-->

              <!--Grid column-->
            </div>
            <div class="row">
              <div class="col-md-6 mb-2">
                <div class="md-form mb-2">
                  <%= f.label :phone_number, "PhoneNumber" %>
                  <%= f.text_field :phone_number, autofocus: true, autocomplete: "電話番号", id:"address-2", class:"form-control" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-2">
                <div class="md-form mb-2">
                  <%= f.label :postcode, "PostCode" %>
                  <%= f.text_field :postcode, autofocus: true, autocomplete: "郵便番号", id:"address-2", class:"form-control"%>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-2">
                <div class="md-form mb-5">
                  <%= f.label :address, "Address" %>
                  <%= f.text_field :address, class: "form-control", autofocus: true, autocomplete: "住所", id:"address", class:"form-control" %>
                </div>
              </div>
            </div>
            <h1>登録済みのお届け先から選択</h1>
            <hr>
            <table class="table table-striped">
              <tr>
                <td></td>
                <td>選択</td>
                <td>姓</td>
                <td>名</td>
                <td>セイ</td>
                <td>メイ</td>
                <td>郵便番号</td>
                <td>送付先</td>
                <td>電話番号</td>
                <td></td>
              </tr>
              <tr>
                <th></th>
                <td><%= f.radio_button(:select_address, -1) %></td>
                <td><%= @user.first_name %></td>
                <td><%= @user.last_name %></td>
                <td><%= @user.first_name_kana %></td>
                <td><%= @user.last_name_kana %></td>
                <td><%= @user.postcode %></td>
                <td><%= @user.address %></td>
                <td><%= @user.phone_number %></td>
              </tr>

              <% @addresses.each do |address| %>
              <tr>
                <th></th>
                <td><%= f.radio_button(:select_address, address.id) %></td>
                <td><%= address.first_name %></td>
                <td><%= address.last_name %></td>
                <td><%= address.first_name_kana %></td>
                <td><%= address.last_name_kana %></td>
                <td><%= address.postcode %></td>
                <td><%= address.address %></td>
                <td><%= address.phone_number %></td>
              </tr>
              <% end %>
            </table>
            <hr>
            <div class="d-block my-3">
              <div class="custom-control custom-radio">
                <%= f.radio_button(:payment, 0) %>
                <%= f.label :payment, "銀行振込"%>
              </div>
              <div class="custom-control custom-radio">
                <%= f.radio_button(:payment, 1) %>
                <%= f.label :payment, "クレジットカード"%>
              </div>
              <div class="custom-control custom-radio">
                <%= f.radio_button(:payment, 2) %>
                <%= f.label :payment, "代引き"%>
              </div>
            </div>
            <hr class="mb-4">
            <div data-turbolinks="false">
              <%= f.submit "Continue to checkout", class:"btn btn-primary btn-lg btn-block" %>
            </div>
          <% end %>
        </div>
        <!--/.Card-->
      </div>
    </div>
  </div>

<!-- APIが入る予定 -->
