<h1>新しいレーベル追加</h1>

<%= form_for(@label, url: admins_labels_path) do |f| %>
   <h4>ジャンル名</h4>
   <%= f.text_field :name %>

    <%= f.submit '登録' %>

<% end %>


<table class="table table-striped">
	<thead>
		<tr>
			<th>id</th>
			<th>レーベル名</th>
			<th>アクション</th>
		</tr>
	</thead>
	<tbody>
    <% @labels.each do |label| %>
		  <tr>
			  <th><%= label.id %></th>
			  <td><%= label.name %></td>
			  <td><%= link_to 'Edit', edit_admins_label_path(label) %>
          | <%= link_to 'Delete', admins_label_path(label), method: :delete %>
        </td>
		  </tr>
    <% end %>
	</tbody>
</table>
