<h1>新しいアーティスト追加</h1>

<%= form_for(@artist, url: admins_artists_path) do |f| %>
   <h4>ジャンル名</h4>
   <%= f.text_field :name %>

    <%= f.submit '登録' %>

<% end %>


<table class="table table-striped">
	<thead>
		<tr>
			<th>id</th>
			<th>アーティスト名</th>
			<th>アクション</th>
		</tr>
	</thead>
	<tbody>
    <% @artists.each do |artist| %>
		  <tr>
			  <th><%= artist.id %></th>
			  <td><%= artist.name %></td>
			  <td><%= link_to 'Edit', edit_admins_artist_path(artist) %>
          | <%= link_to 'Delete', admins_artist_path(artist), method: :delete %>
        </td>
		  </tr>
    <% end %>
	</tbody>
</table>
