<h1>宛先一覧です。</h1>

<table class="table">

  <tr>
    <th></th>
    <th>first_name</th>
    <th>last_name</th>
    <th>first_name_kana</th>
    <th>last_name_kana</th>
    <th>postcode</th>
    <th>address</th>
    <th>phone_number</th>
  </tr>

  <tr>
    <% @address.each do |address| %>
    <td><%= @address.first_name %></td>
    <td><%= @address.last_name %></td>
    <td><%= @address.first_name_kana %></td>
    <td><%= @address.last_name_kana %></td>
    <td><%= @address.postcode %></td>
    <td><%= @address.address %></td>
    <td><%= @address.phone_number %></td>
  </tr>
    <% end %>

</table>

<%= link_to "入力を取り消す", user_path(@user.id) %>
<%= link_to "宛先追加", new_address_path %>
