<%= render 'admins/layouts/sidebar' %>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  <h1>購入履歴</h1>

    <table class="table">
    	<thead>
    		<tr>
    			<th>画像</th>
    			<th>商品名</th>
    			<th>価格</th>
    			<th>数量</th>
          <th>小計</th>
    		</tr>
    	</thead>
    	<tbody>
        <% @order.order_products.each do |order_product| %>
      		<tr>
      			<th><%= order_product.product.image_id %></th>
      			<td><%= order_product.product.name %></td>
      			<td><%= order_product.price %></td>
      			<td><%= order_product.quantity %></td>
            <td><%= order_product.product.price.to_i  * order_product.quantity.to_i %></td>
      		</tr>
        <% end %>
      </tbody>
    </table>

    <div class="col-md-12">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col-auto d-none d-lg-block">
            <p><%= @order.postcode %></p>
            <p><%= @order.address  %></p>
            <p><%= @order.shipname_first %></p>
            <p><%= @order.shipname_last %>　様</p>
            <p>合計金額　¥ <%= @order.total_price %>　</p>
          </div>
      </div>
    </div>
    <% if @order.delivery == 0 %>
      <%= link_to admins_delivery_path(@order),method: :patch do %>
        <button class="btn btn-default btn-md-3" type="submit">発送する
      <% end %>
    <% elsif @order_delivery == 1 %>
       発送中
    <% elsif @order_delivery == 2 %>
        発送完了      
    <% end %>
</main>
