<%= render 'admins/layouts/index' %>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

<h2>商品一覧</h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th>No.</th>
			<th>画像</th>
			<th>商品名</th>
      <th>在庫数</th>
      <th>価格</th>
      <th>販売ステータス</th>
      <th></th>
		</tr>
	</thead>
	<tbody>
    <% @products.each do |product| %>
		  <tr>
			  <th><%= product.id %></th>
        <td><%= attachment_image_tag  product, :image, :fill, 70,70, format: 'jpeg' %></td>
        <td><%= product.name %></td>
        <td><%= product.stock %></td>
			  <td><%= product.price %></td>
        <td><%= product.on_sale %></td>
			  <td><%= link_to 'Edit', edit_admins_product_path(product) %>
          | <%= link_to 'Delete', admins_product_path(product), method: :delete %>
        </td>
		  </tr>
    <% end %>
	</tbody>
</table>
