<%= render 'admins/layouts/sidebar' %>


<main role="main" class="col-md-12 pt-3 px-4">
  <div class="container">
    <%= form_for @product, url: admins_products_path do |f| %>
      <div class="row">
        <div class="form-user">
          <%= f.label :name, "商品名" %>
          <%= f.text_field :name %>
        </div>
        <div class="col-md-10">
      		<div class="col-md-2">ディスク名</div>
          <div class="col-md-2"></div>
      		<div class="col-md-2">曲名</div>
          <div class="col-md-2">曲時間</div>
          <div class="col-md-2"></div>
        </div>
        <div class="form col-md-10 ">
          <%= f.nested_fields_for :disks, wrapper_tag: :div do |disk| %>
            <div class="form_produc_new">
               <div class="col-md-2"><%= disk.text_field :name, class:'form-control', id:'disks', placeholder: 'disks'%></div>
               <div class="col-md-2"><%= disk.remove_nested_fields_link 'Delete', class: 'btn btn-danger', role: 'button' %>
                | <%= f.add_nested_fields_link :disks, 'Add new', class: 'btn btn-primary', role: 'button' %>
               </div>
                  <%= disk.nested_fields_for :songs, wrapper_tag: :div do |song| %>
                    <div class="form-song">
                      <div class="col-md-2 "><%= song.text_field :name, class:'form-control', id:'songs', placeholder: 'songs'%></div>
                      <div class="col-md-2 "><%= song.time_select :time, class:'form-control', id:'times', placeholder: 'times'%></div>
                      <div class="col-md-2 "><%= song.remove_nested_fields_link 'Delete', class: 'btn btn-danger', role: 'button' %>
                          <%= disk.add_nested_fields_link :songs, 'Add new', class: 'btn btn-primary', role: 'button' %>
                      </div>
                    </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>


      <h4>画像</h4>
      <%= f.attachment_field :image %>
      <br>
      <%= f.label :artist_id, "アーティスト一覧" %>
      <%= f.collection_select :artist_id, @artists, :id, :name %>
      <br>
      <%= f.label :genne_id, "ジャンル一覧" %>
      <%= f.collection_select :genre_id, @genres, :id, :name %>
      <br>
      <%= f.label :label_id, "レーベル一覧" %>
      <%= f.collection_select :label_id, @labels, :id, :name %>
      <br>
      <%= f.label :price, "価格" %>
      <%= f.text_field :price %>
      <br>
      <%= f.label :stock, "在庫数" %>
      <%= f.text_field :stock %>
      <br>
      <%= f.label :on_sale, "販売ステータス" %>
      <%= f.select :on_sale, [['販売', true], ['未販売', false]] %>
      <br>
      <%= f.submit "送信" %>
    <% end %>
</main>
