<%= render 'admins/layouts/index' %>

<main role="main" class="col-md-10 ">
<%= form_for @product, url: admins_products_path do |f| %>
  <div class="field">
    <%= f.label :name, "商品名" %>
    <%= f.text_field :name %>

  </div>
  <div class="field col-md-5">
    <%= f.nested_fields_for :disks, wrapper_tag: :div do |disk| %>
      <%= disk.text_field :name, class:'form-control', id:'disks', placeholder: 'disks'%>
      <%= disk.remove_nested_fields_link 'Delete', class: 'btn btn-danger', role: 'button' %>
        <%= disk.nested_fields_for :songs, wrapper_tag: :div do |song| %>
          <%= song.text_field :name, class:'form-control', id:'songs', placeholder: 'songs'%>
          <%= song.time_select :time, class:'form-control', id:'times', placeholder: 'times'%>
          <%= song.remove_nested_fields_link 'Delete', class: 'btn btn-danger', role: 'button'%>
          <%= disk.add_nested_fields_link :songs, 'song追加', class: 'btn btn-primary', role: 'button'%>
        <% end %>

      <%= f.add_nested_fields_link :disks, 'disk追加', class: 'btn btn-primary', role: 'button' %>
    <% end %>
  </div>
  <!--
    <table class="table table-striped">
  	<thead>
  		<tr>
  			<th>ディスク名</th>
        <th></th>
  			<th>曲名</th>
        <th>曲時間</th>
        <th></th>
  		</tr>
  	</thead>
  	<tbody>
      <div class="field">
      <%# <%= f.nested_fields_for :disks, wrapper_tag: :tr do |disk| %> %>
       <tr>
         <%# <td><%= disk.text_field :name, class:'form-control', id:'disks', placeholder: 'disks'%></td> %>
         <%# <td><%= disk.remove_nested_fields_link 'Delete', class: 'btn btn-danger', role: 'button' %></td> %>

           <%# <%= disk.nested_fields_for :songs, wrapper_tag: :div do |song| %> %>
            <%# <td><%= song.text_field :name, class:'form-control', id:'songs', placeholder: 'songs'%></td> %>
            <%# <td><%= song.time_select :time, class:'form-control', id:'times', placeholder: 'times'%></td> %>
                <%# <td><%= song.remove_nested_fields_link 'Delete', class: 'btn btn-danger', role: 'button' %> %>
                <%# <%= disk.add_nested_fields_link :songs, 'song追加', class: 'btn btn-primary', role: 'button' %> %>
            </td>
           <%# <% end %> %>
      </tr>
      <%# <% end %> %>
      </div>
       <%# <%= f.add_nested_fields_link :disks, 'disk追加', class: 'btn btn-primary', role: 'button' %> %>
    </tbody>
  </table>
  -->


  <h4>画像</h4>
  <%= f.attachment_field :image %>
  <br>
  <%= f.label :artist_id, "アーティスト一覧" %>
  <%= f.collection_select :artist_id, @artists, :id, :name %>
  <br>
  <%= f.label :genne_id, "ジャンル一覧" %>
  <%= f.collection_select :genre_id, @genres, :id, :name %>
  <br>
  <%= f.label :label_id, "レーベル一覧" %>
  <%= f.collection_select :label_id, @labels, :id, :name %>
  <br>
  <%= f.label :price, "価格" %>
  <%= f.text_field :price %>
  <br>
  <%= f.label :stock, "在庫数" %>
  <%= f.text_field :stock %>
  <br>
  <%= f.label :on_sale, "販売ステータス" %>
  <%= f.select :on_sale, [['販売', true], ['未販売', false]] %>
  <br>
  <%= f.submit "送信" %>
<% end %>
</main>
