<!DOCTYPE html>
<html>
  <head>
    <title>Nagareco</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <ul>
      <!-- ロゴが入る予定 -->
      <!-- 検索フォームが入る予定 -->
      <li>
       <%= link_to "login", new_user_session_path, class:"sign_in glyphicon glyphicon-log-in" %>
      </li>
      <li>
       <%= link_to "logout", destroy_user_session_path, method: :delete, "data-confirm" => "本当にログアウトしますか？", class:"logout glyphicon glyphicon-log-out" %>
      </li>
      <li>
       <%= link_to "Sign up", new_user_registration_path, class:"sign_up glyphicon glyphicon-edit" %>
      </li>
      <li>
       <%= link_to "Top", root_path, class:"home glyphicon glyphicon-home" %>
      </li>
    </ul>

    <%= yield %>
  </body>
</html>
