<div class = "container">
  <div class="wrapper">
    <div class="form-signout">
      <h2>アカウントを作成</h2>
      <p></p>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <hr class="colorgraph"><br>
        <div class="form-inline">
          <h4>名前</h4>
          <div class="form-group">
            <p>姓</p>
            <%= f.text_field :first_name, autofocus: true, autocomplete: "名前" %>&nbsp;
          </div>
          <div class="form-group">
            <p>名</p>
            <%= f.text_field :last_name, autofocus: true, autocomplete: "名前" %>
          </div>
      </div>
      &nbsp;
      <div class="form-inline">
        <div class="form-group">
          <p>セイ</p>
          <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "名前" %>&nbsp;
        </div>

        <div class="form-group">
          <p>メイ</p>
          <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "名前" %>
        </div>
      </div>
      &nbsp;
        <div class="field">
          <p>郵便番号</p>
          <%= f.text_field :postcode, autofocus: true, autocomplete: "郵便番号" %>
        </div>
        &nbsp;


          <p>住所</p>
          <%= f.text_field :address, class: "form-control", autofocus: true, autocomplete: "住所" %>&nbsp;

        <div class="field">
          <p>電話番号</p>
          <%= f.text_field :phone_number, autofocus: true, autocomplete: "電話番号" %>
        </div>
        &nbsp;

        <div class="field">
          <p>メールアドレス</p>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        &nbsp;
        <div class="field">
          <p>パスワード</p>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上入力)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
        &nbsp;
        <div class="field">
          <p>パスワード再確認</p>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
        &nbsp;
          <%= f.submit "NAGARECOアカウントを作成", class: "btn btn-lg btn-primary btn-block" %>
        </button>
        <% end %>
        &nbsp;
      <%= render "users/shared/links" %>
  </div>
</div>
